body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  .bott a {
    padding: 10px;
    width: 240px !important;
    height: 40px;
    border-radius: 8px;
    outline: none;
    line-height: 40px;
    color: #fff;
    background: black;
    cursor: pointer;
    text-decoration: none;
  }
  
  header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  header img {
    height: 50px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  section {
    margin-bottom: 30px;
  }
  
  .professores {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  #logoufersa{
    width: 80px;
    height: 120px;
  }